{:deps
 {org.clojure/clojure #:mvn{:version "1.12.0"},
  org.clojure/tools.cli #:mvn{:version "0.4.1"},
  org.babashka/http-client #:mvn{:version "0.4.22"},
  cheshire/cheshire #:mvn{:version "5.13.0"},
  com.github.clj-easy/graal-build-time #:mvn{:version "1.0.5"}},
 :paths ["src" "classes" "resources"],
 :aliases
 {:run
  {:main-opts ["-m" "proserunner.core"]}

  ;; Native image build aliases
  ;; Note: These aliases share common configuration but deps.edn doesn't support
  ;; alias composition, so some duplication is necessary for clarity.

  ;; Compile alias - prepares classes for native-image
  :compile
  {:main-opts ["-e" "(do (require 'proserunner.core) (compile 'proserunner.core))"]}

  ;; Native image build configuration (no wrapper needed)
  :native-image
  {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}},

  :test
  {:extra-paths ["test"],
   :extra-deps
   {clj-http-fake/clj-http-fake #:mvn{:version "1.0.3"},
    org.clojure/test.check #:mvn{:version "1.1.1"},
    com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git",
     :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}},
   :main-opts ["-m" "cognitect.test-runner"]},
  :benchmark
  {:extra-paths ["."]
   :main-opts ["-m" "benchmarks.runner"]},
  :parallel-bench
  {:extra-paths ["."]
   :main-opts ["-m" "benchmarks.parallel"]},
  :scaling-bench
  {:extra-paths ["."]
   :main-opts ["-m" "benchmarks.scaling"]}}}
